; Регистр имеет значение

[General]
1C=c:\Program Files (x86)\1cv8\8.3.6.2152\bin\1cv8.exe
IB=d:\_Работа\Инструменты\1С\Скрипты\ib\
V8Reader=d:\_Работа\Инструменты\1С\Скрипты\v8Reader\V8Reader.epf
GComp=d:\_Работа\Инструменты\1С\GComp\Release\gcomp.exe
