; Letter case matters

General:
  IB: d:\_Работа\Инструменты\1С\IB\
  V8Reader: d:\_Работа\Разработка\V8Reader\V8Reader.epf
  V8Unpack: d:\_Работа\Инструменты\1С\V8Unpack\V8Unpack.exe
  GComp: d:\_Работа\Инструменты\1С\GComp\Release\gcomp.exe
