gcomp: d:\_Работа\Инструменты\1С\GComp\Release\gcomp.exe
ib: d:\_Работа\Инструменты\1С\IB\
v8reader: d:\_Работа\Разработка\V8Reader\V8Reader.epf
v8unpack: d:\_Работа\Инструменты\1С\V8Unpack\V8Unpack.exe
